*{scroll-behavior: smooth;}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar{
    width: 5px;
    background: #030023;
}
::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}

/* loader */
@import url(../components/loader/loader.css);

/* menu hamburger */
@import url(./hamburger.css);

/* project buttons */
@import url(./button-project.css);

/* input theme */
@import url(./input-theme.css);